mat-nav-list {
    background: #0B1222;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}


/* ================================
   NORMAL NAVIGATION ITEM
================================ */
.nav-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    margin: 8px 10px;
    width: 180px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s ease;
}

a {
    color: white;
    margin: 8px 10px;
    width: 180px;
    border-radius: 8px;
    box-sizing: border-box;
}

/* ================================
   ICON
================================ */
.nav-item mat-icon {
    flex-shrink: 0;
    margin-right: 0;
    color: #F4C542;
    text-shadow:
        0 0 4px rgba(244, 197, 66, 0.6),
        0 0 8px rgba(244, 197, 66, 0.4),
        0 0 14px rgba(244, 197, 66, 0.2);

    transition: all 0.3s ease;
}

/* ================================
   TEXT
================================ */
.nav-item span {
    font-size: 14px;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    text-shadow:
        0 0 5px rgba(100, 180, 255, 0.8),
        0 0 10px rgba(100, 180, 255, 0.6),
        0 0 20px rgba(100, 180, 255, 0.4);
}

/* ================================
   HOVER
================================ */
.nav-item:hover {
    background: #F4C542;
    box-shadow:
        0 0 4px rgba(244, 197, 66, 0.6),
        0 0 8px rgba(244, 197, 66, 0.4),
        0 0 14px rgba(244, 197, 66, 0.2);;
}

.nav-item:hover mat-icon {
    color: white;
    text-shadow: none;
}

/* ================================
   COLLAPSED ITEM
================================ */
.nav-item.collapsed {
    width: 50px;
    height: 44px;
     background: transparent !important;
    margin: 8px auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

/* ================================
   COLLAPSED ICON
================================ */
.nav-item.collapsed mat-icon {
    margin: 0;
    color: #F4C542;
}

.nav-item.collapsed mat-icon:hover {
    color: white;
    text-shadow:
        0 0 4px rgba(244, 197, 66, 0.6),
        0 0 8px rgba(244, 197, 66, 0.4),
        0 0 14px rgba(244, 197, 66, 0.2);
}