<app-navbar></app-navbar>
<div class="allMovies-container">
  
    <!-- Side Navigation -->
   <div class="sidebar">
        <app-side-nav></app-side-nav>
    </div>
  
    <!-- Main Content -->
    <div class="main-content">
        <h2 class="title">
            Requested Movies
        </h2>
        <h5 class="desc">Review user-submitted movie requests</h5>
        <div class="cards">
            <mat-card class="card display">
                <mat-icon>format_list_bulleted</mat-icon>
                <div class="stat-info">
                    <h2>{{ totalRequests }}</h2>
                    <p>Total Requests</p>
                </div>
            </mat-card>
  
            <mat-card class="card display">
                <mat-icon>schedule</mat-icon>
                <div class="stat-info">
                    <h2>{{ pendingRequests }}</h2>
                    <p>Pending Requests</p>
                </div>
            </mat-card>
            
            <mat-card class="card display">
                <mat-icon>verified</mat-icon>
                <div class="stat-info">
                    <h2>{{ approvedRequests }}</h2>
                    <p>Approved Requests</p>
                </div>
            </mat-card>
        
            <mat-card class="card display">
                <mat-icon>block</mat-icon>
                <div class="stat-info">
                    <h2>{{ rejectedRequests }}</h2>
                    <p>Rejected Requests</p>
                </div>
            </mat-card>
    </div>

    <mat-form-field appearance="outline" class="search-box">
        <mat-label id="searchBar">
            Search
        </mat-label>
        <input
            matInput
            placeholder="e.g. The Dark Knight"
            [(ngModel)]="searchText"
            (ngModelChange)="applyFilters()"
        >
        <mat-icon matSuffix>
            search
        </mat-icon>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="filter-box">
        <mat-label id="filterBar">
            Select
        </mat-label>
        <mat-select
            [(ngModel)]="selectedStatus"
            (selectionChange)="applyFilters()"
        >
            <mat-option value="ALL">
                All Requests
            </mat-option>
            <mat-option value="PENDING">
                Pending
            </mat-option>
            <mat-option value="APPROVED">
                Approved
            </mat-option>
            <mat-option value="REJECTED">
                Rejected
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- REQUEST CONTENT -->
    <div class="request-section">
        <!-- LEFT: REQUEST LIST -->
        <div class="request-list">
            <div
                *ngFor="let request of filteredRequests"
                class="request-item"    
                [class.active]="selectedRequest?.id === request.id"
                (click)="selectRequest(request)"
            >
                <div class="request-title">
                    <span>
                        {{ request.title }}
                    </span>
                    <span
                        class="status"
                        [ngClass]="getStatusClass(request.status)"
                    >
                        {{ request.status }}
                    </span>
            </div>
            
            <div class="request-user">
                Requested by:
                {{ request.requestedBy }}
            </div>
            
            <div class="request-meta">
                {{ request.releaseDate | date:'yyyy' }}
                •
                {{ request.director }}
            </div>
        </div>
    
        <!-- NO REQUESTS -->
        <div
            class="no-requests"
            *ngIf="filteredRequests.length === 0"
        >
            No requests found.
        </div>
    </div>
    
    <!-- RIGHT: REQUEST DETAILS -->
    <div
        class="request-details"
        *ngIf="selectedRequest"
    >
        <div class="poster">
            <img
                *ngIf="selectedRequest.posterUrl"
                [src]="selectedRequest.posterUrl"
                [alt]="selectedRequest.title"
            />
            <span
                *ngIf="!selectedRequest.posterUrl"
            >
                POSTER
            </span>
        </div>
        <div class="details-content">
            <h2>
                {{ selectedRequest.title }}
            </h2>
            <p class="director">
                {{ selectedRequest.director }}
            </p>
            <div class="movie-tags">
                <span>
                    {{ selectedRequest.language }}
                </span>
                <span>
                    {{ selectedRequest.duration }} MIN
                </span>
                <span
                    *ngFor="let genre of selectedRequest.genres"
                >
                    {{ genre }}
                </span>
            </div>
            <p class="description">
                {{ selectedRequest.description }}
            </p>
            <div class="movie-information">
                <div>
                    <strong>Release Date</strong>
                    <span>
                        {{ selectedRequest.releaseDate | date:'dd MMM yyyy' }}
                    </span>
                </div>
                <div>
                    <strong>Director</strong>
                    <span>
                        {{ selectedRequest.director }}
                    </span>
                </div>
                <div>
                    <strong>Cast</strong>
                    <span>
                        {{ selectedRequest.cast }}
                    </span>
                </div>
            </div>
            <div class="user-comment">
                <h4>REQUEST INFORMATION</h4>
                <p>
                    Requested by:
                    <strong>
                        {{ selectedRequest.requestedBy }}
                    </strong>
                </p>
                <p>
                    Email:
                    {{ selectedRequest.userEmail }}
                </p>
                <p>
                    Requested on:
                    {{ selectedRequest.requestedAt | date:'dd MMM yyyy, hh:mm a' }}
                </p>
            </div>
        </div>
        <div class="request-actions">
            <div class="request-reference">
                REQUEST #{{ selectedRequest.id }}
                &nbsp;&nbsp; • &nbsp;&nbsp;
                STATUS:
                {{ selectedRequest.status }}
            </div>
            <div class="action-buttons">
                <button
                    mat-stroked-button
                    class="reject-btn"
                    [disabled]="selectedRequest.status !== 'PENDING'"
                    (click)="rejectRequest()"
                >
                    Reject
                </button>


                <button
                    mat-raised-button
                    class="approve-btn"
                    [disabled]="selectedRequest.status !== 'PENDING'"
                    (click)="approveRequest()"
                >
                    Approve Request
                </button>
            </div>
        </div>
    </div>

    <!-- NO SELECTED REQUEST -->
    <div
        class="request-details empty-details"
        *ngIf="!selectedRequest"
    >
        <p>
            Select a movie request to view its details.
        </p>
    </div>
</div>

    