<mat-nav-list>
    <a mat-list-item class="nav-item" routerLink="/user-dashboard">
        <mat-icon>
            dashboard
        </mat-icon>
        <span>
            Dashboard
        </span>
    </a>
    <a mat-list-item class="nav-item" routerLink="/user-all-movies">
        <mat-icon>
            movie
        </mat-icon>
        <span>
            All Movies
        </span>
    </a>
    <a mat-list-item class="nav-item" routerLink="/add-request">
        <mat-icon>
            add_circle_outline
        </mat-icon>
        <span>
            Add Request
        </span>
    </a>
    <a mat-list-item class="nav-item" routerLink="/user-watchlist">
        <mat-icon>
            bookmark
        </mat-icon>
        <span>
            Watchlist
        </span>
    </a>
    <a mat-list-item class="nav-item" routerLink="/issue">
        <mat-icon>
            stars
        </mat-icon>
        <span>
            My Ratings
        </span>
    </a>
    <a mat-list-item class="nav-item" routerLink="/login">
        <mat-icon>
            logout
        </mat-icon>
        <span>
            Logout
        </span>
    </a>
</mat-nav-list>