<app-navbar></app-navbar>
<div class="allMovies-container">
    <!-- Side Navigation -->
   <div class="sidebar">
        <app-side-nav></app-side-nav>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        <h2 class="title">
            All Movies
        </h2>
        <h5 class="desc">Browse, search and rate your favourite movies.</h5>
        <mat-form-field appearance="outline" class="search-box">
        <mat-label id="searchBar">Search</mat-label>
        <input matInput placeholder="e.g. The Dark Knight">
        <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="filter-box">
            <mat-label id="filterBar">Select</mat-label>
            <mat-select multiple>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


